.recorder-time-label {
  font-size: 32pt;
  font-weight: 300;
}

@keyframes clocks-blink {
  0% { color: color-mix(in srgb, var(--window-fg-color) var(--dim-opacity), transparent); }
  100% { color: var(--destructive-color); }
}

.recorder-time-bin.paused {
  color: var(--destructive-color);
}

.recorder-time-bin.paused .recorder-time-label {
  color: inherit;
	animation-name: clocks-blink;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	animation-duration: 1s;
}

button.large {
  padding: 12px;
}

.recording-row {
  padding: 0;
}
