name: Snap CI

on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - "data/**"
      - "snap/**"
      - "meson.build"
      - "meson_options.txt"
      - ".github/workflows/snap.yml"
  pull_request:
    branches: [main]
    paths:
      - "src/**"
      - "data/**"
      - "snap/**"
      - "meson.build"
      - "meson_options.txt"

jobs:
  build:
    name: Build Snap
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install snapcraft
        run: sudo snap install --classic snapcraft

      - name: Build Snap
        run: snapcraft pack

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: senbrua-snap
          path: "*.snap"
